* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  padding: 32px;
  background-color: #fafafa;
}

section.login {
  max-width: 824px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 0px;
}

section.login > div.instagram-smartphones {
  width: 455px;
  height: 620px;
  background-image: url("../img/smartphones.png");

  position: relative;
}

section.login > div.instagram-smartphones > img {
  position: absolute;
  top: 100px;
  right: 64px;
}

section.login > div.instagram-continue {
  width: 350px;
  height: 340px;
  border-radius: 1px;
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
}
